
<div *ngIf=" show_main_panel ">
    <mat-progress-bar [style.visibility]="sync.wait ? 'visible':'hidden'" [mode]=" sync.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
    <h4>
        Productos
        <button
            (click)="addAction()" 
            color="primary" 
            type="button" 
            mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
        <button *ngIf=" !sync.wait else sync_spinner "
            (click)="reloadAll()" 
            color="primary" 
            type="button" 
            mat-icon-button>
            <mat-icon>sync</mat-icon>
        </button>
        <ng-template #sync_spinner>
            <button
            type="button" 
            mat-icon-button>
                <mat-spinner class="sync_spinner" [diameter]="25"></mat-spinner>
            </button>
        </ng-template>
    </h4>
    <mat-paginator 
        [disabled]=" sync.wait "
        [length]="paginator.total_records"
        [pageSize]="paginator.records_x_page"
        [pageIndex]="paginator.current_page - 1"
        [pageSizeOptions]="[5, 10, 20, 50, 100]" (page)="onPaginationChange($event)"> 
    </mat-paginator>
    <mat-form-field class="full-width">
        <mat-label>Buscar producto</mat-label>
        <input matInput #input_search placeholder="Ej. Pizza" (keyup.enter)="onInputSearch(input_search.value)">
        <button 
            mat-button 
            *ngIf="input_search.value" 
            matSuffix 
            mat-icon-button 
            aria-label="Clear" 
            (click)="input_search.value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Total de imágenes</th>
                <th scope="col">Creado</th>
                <th scope="col">Modificado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; index as i">
                <td scope="row">{{ (paginator.current_page - 1) * paginator.records_x_page + i + 1 }}</td>
                <td>
                    <div>{{ product.prod_name }}</div>
                    <div *ngIf=" product.prod_desc != '' ">Detalle: {{ product.prod_desc }}</div>
                </td>
                <td>{{ product.images.length }}</td>
                <td>{{ product.created_at | dateTimeFormat}}</td>
                <td>{{ product.updated_at | dateTimeFormat }}</td>
                <td>
                    <button
                        (click)="viewItem(product)" 
                        color="primary" 
                        type="button" 
                        mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        (click)="delete(product)" 
                        color="warn" 
                        type="button" 
                        mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
  </table>
</div>
<router-outlet 
(activate)='onActivateRouteOutlet($event)'
(deactivate)='onDeactivateRouteOutlet($event)'></router-outlet>