.main-form 
	min-width: 150px
	max-width: 500px
	width: 100%
	margin-top: 10px


.full-width 
	width: 100%
.half-width 
	width: 45%
	margin: 2px 5px

ul
	&.list
		list-style-type: none

	&.images-saved
		position: relative
		display: flex
		align-items: center
		overflow-x: scroll

		li 
			position: relative
			width: 250px
			height: 250px
			min-width: 250px
			margin: 5px
			border: 1px solid #a09cff
			box-shadow: 2px 1px 5px 0px #b7b7b7
			.img-container
				position: absolute
				width:100%
				height:100%
				top: 0
				left: 0
				overflow: hidden
				text-align: center
				display: flex
				align-items: center
				justify-content: center
				background: white

				img 
					position: relative

					&.img_horizontal
						width: 100%
						height: auto

					&.img_vertical
						height: 100%
						width: auto

