
<mat-card>
	<mat-card-header>
		<mat-card-title>
			Información principal del producto
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p *ngFor="let error_message of error_messages">
			<ngb-alert type="danger" (close)="removeErrorMessage(error_message)">{{ error_message }}</ngb-alert>
		</p>
		<form [formGroup]="mainForm">
			<mat-form-field class="full-width">
			  	<mat-label>Nombre del producto</mat-label>
			  	<input 
					matInput 
					placeholder="Nombre del producto" 
					formControlName="prod_name" />
			</mat-form-field>
		  
			<mat-form-field class="full-width">
				<mat-label>Descripción del producto</mat-label>
				<textarea 
					matInput #message maxlength="400"
					placeholder="Descripción del producto..." 
					formControlName="prod_desc"></textarea>
				<mat-hint align="end">{{message.value.length}} / 400</mat-hint>
			</mat-form-field>
			<mat-form-field class="half-width">
				<mat-label>Precio de venta</mat-label>
				<input 
					matInput type="number"
					placeholder="Precio de venta" 
					formControlName="prod_price" />
			</mat-form-field>
			<mat-form-field class="half-width">
				<mat-label>Precio en promoción</mat-label>
				<input 
					matInput type="number"
					placeholder="Precio en promoción" 
					formControlName="prod_price_off" />
			</mat-form-field>
			<mat-checkbox color="primary" formControlName="show_prod_price_off" class="example-margin">
				Mostrar precio de promoción
			</mat-checkbox>
			<mat-divider></mat-divider>
			<mat-progress-bar [style.visibility]="wait_save ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" wait_save ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
			<div class="form-buttons">
				<button [disabled]=" !mainForm.enabled "
					mat-raised-button 
					color="primary"
					(click)="save()">Guardar</button>
				<button  
					[swal]="{ title: 'Agregar otro producto ?', icon: 'question', showCancelButton: true, cancelButtonColor: '#ff4c4c', cancelButtonText:'No', confirmButtonText:'Si' }"
					(confirm)="gotoNewProductForm($event)"
					class="ml-2"
					*ngIf=" mainForm.enabled && _id"
					mat-stroked-button 
					color="primary">
					<mat-icon>add</mat-icon>
					Producto
				</button>
				<span *ngIf="wait_save else show_message">Espere por favor ...</span>
			</div>
			<div>
				<ng-template #show_message>
					<label>&nbsp;{{ wait_message }}</label>
				</ng-template>
			</div>
		</form>
 	</mat-card-content>
</mat-card>

<mat-card *ngIf=" mainForm.enabled && _id">
	<mat-card-header>
		<mat-card-title>
			Categorías 
			<button
				color="primary" 
				type="button" (click)="openTabCategories()"
				mat-icon-button>
				<mat-icon>add</mat-icon>
			</button>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		

		<ul class="list noselect">
			<li *ngFor=" let prop of categories; let idx = index; trackBy: trackByIndex ">
				<app-product-category [record]="prop"></app-product-category>
				<ul class="list" *ngIf=" prop.children && prop.children.length>0 ">
					<li *ngFor=" let it_child of prop.children; let idx_child = index; trackBy: trackByIndex ">
						<app-product-category [record]="it_child"></app-product-category>
						<ul class="list" *ngIf=" it_child.children && it_child.children.length>0 ">
							<li *ngFor=" let it_child2 of it_child.children; let idx_child2 = index; trackBy: trackByIndex ">
								<app-product-category [record]="it_child2"></app-product-category>
								<!--
								<div (click)="it_child2.selected = !it_child2.selected">
									<label>{{ it_child2.cat_name }}</label>
									<mat-icon *ngIf="it_child2.selected">check_box</mat-icon>
									<mat-icon *ngIf="!it_child2.selected">check_box_outline_blank</mat-icon>
									
								</div>
								-->
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<mat-progress-bar [style.visibility]="sync_categories.wait ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" sync_categories.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
		<div class="form-buttons">
			<button 
				mat-raised-button 
				color="primary"
				(click)="updateCategories()">Actualizar categorías</button>&nbsp;{{ sync_categories.message }}
		</div>
 	</mat-card-content>
</mat-card>
<mat-card  *ngIf=" mainForm.enabled && _id">
	<mat-card-header>
		<mat-card-title>
			Imágenes (Subidas: {{ images_saved.length }})
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<ul class="images-saved list-unstyled">
			<li 
				*ngFor="let img of images_saved" 
 			>
				<div class="img-container">
					<img 
					[class.img_vertical] = "img.isVertical()" 
					[class.img_horizontal] = "img.isHorizontal()" 
					[src]="img.fullUrl()" 
					alt="" />
				</div>
				<button 
					[disabled] = " sync_images.wait_delete && sync_images.wait_set_default "
					[swal]="{ title: 'Eliminar imagen ?', icon: 'question', showCancelButton: true, cancelButtonColor: '#ff4c4c', cancelButtonText:'No', confirmButtonText:'Si' }"
					(confirm)="removeImageFromServer($event, img)"
					class="m-1"
					mat-mini-fab color="rm-img" 
					aria-label="Eliminar imagen ?">
					<mat-icon>delete</mat-icon>
				</button>
				<button 
					[disabled] = " sync_images.wait_delete "
					[swal]="{ title: 'Establecer imagen predeterminada para el catálogo web ?', icon: 'question', showCancelButton: true, cancelButtonColor: '#ff4c4c', cancelButtonText:'No', confirmButtonText:'Si' }"
					(confirm)="setDefaultCatalogWebImage($event, img)"
					class="m-1"
					mat-mini-fab 
					[color]=" img.is_default ? 'is-default-catalog-web-img' : 'default-catalog-web-img'" 
					aria-label="Establecer imagen predeterminada para el catálogo web ?">
					<mat-icon *ngIf=" !img.is_default else check_default ">photo_size_select_actual</mat-icon>
					<ng-template #check_default>
						<mat-icon >check</mat-icon>
					</ng-template>
				</button>
			</li>
		</ul>
		<ngx-dropzone (change)="onSelectImage($event)">
			<ngx-dropzone-label>Imágenes a subir ( Arrastre y suelte aquí )</ngx-dropzone-label>
			<!--
			<ngx-dropzone-preview *ngFor="let f of images" [removable]="true" (removed)="onRemoveImage(f)">
				<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
			</ngx-dropzone-preview>
			-->
			<ngx-dropzone-image-preview 
				[removable]="true" 
				(removed)="onRemoveImage(f)" 
				ngProjectAs="ngx-dropzone-preview" 
				*ngFor="let f of images_to_upload" 
				[file]="f">
				<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
			  </ngx-dropzone-image-preview>
		</ngx-dropzone>
		<mat-progress-bar [style.visibility]="sync_images.wait ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" sync_images.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
		<div class="form-buttons">
			<button 
				mat-raised-button 
				color="primary"
				(click)="updateImages()">Subir imágenes</button>&nbsp;{{ sync_images.message }}
		</div>
 	</mat-card-content>
</mat-card>
<app-product-tags  *ngIf=" mainForm.enabled && _id" [product_id]="_id"></app-product-tags>