
<header class="bg-white" [class.nav-collapsed]="isNavCollapsed">
    <section class="brand bg-primary">
        <a href="">
            <i class="material-icons md-dark logo-icon">face</i>
            <span>Zavaleta Store</span>
        </a>
    </section>
    <section class="nav-top">
        <ul class="nav-left list-unstyled">
            <li>
                <button mat-button (click)="toggleMenu()" >
                    <i class="material-icons">menu</i>
                </button>
            </li>
        </ul>
        <ul class="nav-right pull-right list-unstyled">
            <li>
                <button mat-button [matMenuTriggerFor]="user_menu">
                    <img src="assets/g1.jpg" alt="user" class="img-circle img30_30">
                </button>
                <mat-menu #user_menu="matMenu" class="user-mat-menu">
                    <button mat-menu-item (click)="logout()">Salir</button>
                </mat-menu>
            </li>
        </ul>
    </section>
</header>
<main [class.nav-collapsed]="isNavCollapsed">
    <section class="nav-container nav-fixed nav-vertical bg-dark">
        <div class="nav-wrapper">
            <div class="nav-scrollable">
                <ul class="list-unstyled nav" (click)="onClickNav($event)" #navMenuLeft>
                    <li>
                        <a  matRipple [matRippleColor]="navRippleColor" [routerLink]="[namedRoutesService.getRoute('dashboard')]" routerLinkActive="router-link-active" >
                            <i class="material-icons">home</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a  matRipple [matRippleColor]="navRippleColor" [routerLink]="[namedRoutesService.getRoute('dashboard.categories')]" >
                            <i class="material-icons">bubble_chart</i>
                            <span>Categorías</span>
                        </a>
                    </li>
                    <li>
                        <a  matRipple [matRippleColor]="navRippleColor" [routerLink]="[namedRoutesService.getRoute('dashboard.products')]" >
                            <i class="material-icons">bubble_chart</i>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li>
                        <a  matRipple [matRippleColor]="navRippleColor" [routerLink]="[namedRoutesService.getRoute('dashboard.webproperties')]" >
                            <i class="material-icons">bubble_chart</i>
                            <span>Propiedades Web</span>
                        </a>
                    </li>
                    <li>
                        <a matRipple [matRippleColor]="navRippleColor" [routerLink]="[namedRoutesService.getRoute('dashboard.users')]" >
                            <i class="material-icons">people</i>
                            <span>Usuarios</span>
                        </a>
                        <!-- 
                            NO ELIMINAR EL LISTADO SIGUIENTE
                        -->
                        <!--
                        <ul>
                            <li *ngFor="let value of numbers(5); let i = index">
                                <a href="/#" matRipple [matRippleColor]="navRippleColor" >
                                    <i class="material-icons">stop_circle</i>
                                    <span>{{ value }}</span>
                                </a>
                            </li>
                        </ul>
                        -->
                    </li>
                    <!--
                    <li *ngFor="let value of numbers(100); let i = index">
                        <a href="/#" matRipple [matRippleColor]="navRippleColor" >{{ value }}</a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </section>
    <section class="content-container">
        <section class="view-container">
            <!--
            <button 
                mat-raised-button 
                color="primary"
                (click)="openLoginDialog()">Login from dashboard</button>
            -->
            <div *ngIf=" show_main_panel ">
                <h4>Dashboard principal</h4>
            </div>
            <router-outlet 
            (activate)='onActivateRouteOutlet($event)'
            (deactivate)='onDeactivateRouteOutlet($event)'></router-outlet>
        </section>
    </section>
</main>

