header 
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 20
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)

    .brand 
        display: inline-block
        width: 220px
        position: absolute
        height: 64px
        line-height: 64px
        text-align: center
        -webkit-transition: width .25s ease-in-out
        transition: width .25s ease-in-out
        a 
            color: #fafafa
            white-space: nowrap
            line-height: 64px
            box-sizing: border-box
            text-align: center
            font-size: 22px
            text-decoration: none
            >.logo-icon
                font-size: 19px
    .nav-top
        padding: 0 0 0 220px
        width: 100%
        height: 64px
        -webkit-transition: padding-left .25s ease-in-out
        transition: padding-left .25s ease-in-out
        .nav-left 
            float: left
            padding: 0
            margin-bottom: 0
            .mat-button
                line-height: 64px
        
        .nav-right
            padding: 0
            margin-bottom: 0
            .mat-button
                margin: 0
                line-height: 64px
                min-width: 64px
                border-radius: 0

    &.nav-collapsed
        .nav-top
            padding: 0 0 0 66px

        .brand 
            width: 66px
            a 
                span 
                    display: none


main 
    padding-top:  64px
    position: relative

    .nav-container
        z-index: 11
        position: static
        float: left
        width: 220px
        -webkit-transition: width .25s ease-in-out
        transition: width .25s ease-in-out
        &.bg-dark 
            .nav 
                a 
                    color: rgba(255,255,255,0.8)
        .nav
            position: relative
            white-space: nowrap
            display: block
            padding: 15px 15px
            -webkit-transition: all .25s ease-in-out
            transition: all .25s ease-in-out
            margin: 0
            padding: 0
            overflow-x: hidden
            width: auto
            height: 100%
            >li 
                >a 
                    position: relative
                    white-space: nowrap
                    display: block
                    padding: 15px 15px
                    -webkit-transition: all .25s ease-in-out
                    transition: all .25s ease-in-out
            a 
                font-size: 13px
                -webkit-transition: all .25s ease-in-out
                transition: all .25s ease-in-out
                text-decoration: none
                span 
                    font-family: 'Roboto', sans-serif
                .material-icons
                    display: inline-block
                    vertical-align: bottom
                    margin-right: 10px
                    width: 20px
                    line-height: 20px
                    text-align: center
                    font-size: 16px
                    -webkit-transition: all .25s ease-in-out
                    transition: all .25s ease-in-out
            ul 
                &:not(.show)
                    display: none
                &.show
                    display: block
                >li 
                    position: relative
                    padding: 0
                    >a 
                        position: relative
                        display: block
                        padding: 13px 0 13px 25px
                        -webkit-transition: all .25s ease-in-out
                        transition: all .25s ease-in-out
                        >i 
                            font-size: 4px
                            line-height: 16px
                            margin-right: 2px
                            vertical-align: middle
        &.nav-fixed
            position: fixed !important
            top: 64px
            bottom: 0
            float: none

        .nav-wrapper
            position: relative
            width: 100%
            height: 100%

            .nav-scrollable
                position: relative
                overflow: hidden
                width: auto
                height: calc(100vh - 64px)
                
        ul 
            padding-left: 0
            list-style: none

    .content-container
        display: block
        margin-left: 220px
        overflow: hidden
        min-height: 100%
        -webkit-transition: margin-left .25s ease-in-out
        transition: margin-left .25s ease-in-out
            
        .view-container
            display: block
            padding: 5px 7px
            transition: all 0.3s ease-in-out
    &:not(.nav-collapsed)
        .content-container
            .view-container
                @media( max-width: 699px )
                    margin-right: -220px
    &.nav-collapsed
        .nav-container
            width: 66px
            .nav 
                a 
                    span 
                        display: none
                    i 
                        margin: 0
                        font-size: 22px
                >li 
                    >a 
                        padding: 15px 15px
                        text-align: center
        .content-container 
            margin-left: 66px