<a>
    <span >{{ prop.cat_name }}</span>
</a>

<div class="item-actions">
    <button *ngIf=" enableAddAction "
        (click)="addAction()" 
        color="primary" 
        type="button" 
        mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
    <button 
        (click)="editAction()" 
        type="button" 
        mat-icon-button 
        color="primary">
        <mat-icon>edit</mat-icon>
    </button>
    <button
        (click)="deleteAction()" 
        color="warn" 
        type="button" 
        mat-icon-button>
        <mat-icon>delete</mat-icon>
    </button>
</div>