
a 
    width: 100% 
    text-decoration: none
    display: inline-block
    padding: 10px 8px
    border: 1px solid #cbcbcb
    color: #333
    font-family: "Ubuntu Condensed", sans-serif
    font-weight: bold
    color: #656565 !important
.item-actions
    position: absolute
    right: 0
    top: 0
    z-index: 10
    display: inline-block
    align-items: center