<form [formGroup]="WebPropertyForm">
    <mat-form-field class="full-width">
        <mat-label>Clave de la propiedad</mat-label>
        <input 
            matInput 
            placeholder="Clave de la propiedad" 
            formControlName="prop_key" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Valor de la propiedad</mat-label>
        <textarea 
            matInput #message maxlength="400"
            placeholder="Valor de la producto..." 
            formControlName="prop_value"></textarea>
        <mat-hint align="end">{{message.value.length}} / 400</mat-hint>
    </mat-form-field>
    <mat-progress-bar [style.visibility]="sync.wait ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" sync.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
		
    <div class="button-actions">
        
        <button  
            (click)="update($event)"
            class="ml-2"
            [disabled]="sync.wait"
            mat-stroked-button 
            color="primary">
            Actualizar
        </button><span *ngIf=" sync.message ">{{ sync.message }}</span>
    </div>
</form>