<h1 mat-dialog-title>
  {{ data.mark_to_delete ? 'Eliminar etiqueta ?' : (data.id ? 'Editar etiqueta' : 'Nueva etiqueta') }}
</h1>
<div mat-dialog-content>
  <p *ngFor="let error_message of error_messages">
    <ngb-alert type="danger" (close)="removeErrorMessage(error_message)">{{ error_message }}</ngb-alert>
  </p>
  <div *ngIf="!data.mark_to_delete else show_delete_form">
    
    <mat-form-field class="full-width">
      <mat-label>Etiqueta</mat-label>
      <input matInput type="text" [(ngModel)]="data.tag_key">
      <button 
        *ngIf="data.tag_key" 
        mat-button 
        matSuffix 
        mat-icon-button 
        aria-label="Clear" (click)="data.tag_key=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Descripción de etiqueta</mat-label>
      <textarea 
        maxlength="200" 
        rows="4"
        matInput 
        placeholder="Ej. Mide 20 x 30..." 
        [(ngModel)]="data.tag_value"></textarea>
      <mat-hint align="end">{{data.tag_value.length}} / 200</mat-hint>
    </mat-form-field>
  </div>
  <ng-template #show_delete_form>
    <mat-card>
      <mat-card-content>
        <div>
          <b>Título: </b>
          <span>{{data.tag_key}}</span>
        </div>
        <div>
          <b>Descripción: </b>
          <span>{{data.tag_value}}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
<div mat-dialog-actions>
  <mat-progress-bar [style.visibility]="sync.wait ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" sync.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
  
  <button mat-button (click)="cancel()">Cancelar</button>
  <!--
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  -->
  <button mat-button (click)="process()" cdkFocusInitial>Ok</button>
</div>