<h1 mat-dialog-title>Eliminar este producto?</h1>
<ngb-alert *ngIf=" sync.message "
    type="warning" 
    >{{ sync.message }}</ngb-alert>
<mat-slide-toggle 
  *ngIf="sync.message != 'Error' && sync.message != ''" 
  [checked]="forceDelete" 
  (change)=" onToggleChange($event) "
  >Eliminar dependencias</mat-slide-toggle>
<div mat-dialog-content>
  <p>
      <strong>{{data.prod_name}}</strong>
  </p>
  <p>{{data.prod_desc}}</p>
</div>
<mat-progress-bar [style.visibility]="sync.wait ? 'visible':'hidden'" [mode]=" sync.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
<div mat-dialog-actions>
  <button 
    [disabled]="sync.wait"
    mat-button 
    (click)="cancel()"
    >Cancelar</button>
  <button mat-button (click)="process()" cdkFocusInitial>Ok</button>
</div>