
<mat-progress-bar [mode]=" wait_sync ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
<h4>
    Categorías de productos
    <button
        (click)="addAction()" 
        color="primary" 
        type="button" 
        mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
    <button *ngIf=" !wait_sync else sync_spinner "
        (click)="reloadAll()" 
        color="primary" 
        type="button" 
        mat-icon-button>
        <mat-icon>sync</mat-icon>
    </button>
    <ng-template #sync_spinner>
        <button 
        type="button" 
        mat-icon-button>
            <mat-spinner class="sync_spinner" [diameter]="25"></mat-spinner>
        </button>
    </ng-template>
</h4>

<ul class="list noselect">
    <li *ngFor=" let prop of categories; let idx = index; trackBy: trackByIndex ">
        <app-category 
            (edit)="editAction(prop)" 
            (delete)="deleteAction(prop)" 
            (add)="addAction(prop)" 
            [record]="prop"></app-category>
        <ul *ngIf=" prop.children && prop.children.length>0 ">
            <li *ngFor=" let it_child of prop.children; let idx_child = index; trackBy: trackByIndex ">
                <app-category 
                    (edit)="editAction(it_child)" 
                    (delete)="deleteAction(it_child, prop)" 
                    (add)="addAction(it_child)" 
                    [record]="it_child"></app-category>
                <ul *ngIf=" it_child.children && it_child.children.length>0 ">
                    <li *ngFor=" let it_child2 of it_child.children; let idx_child2 = index; trackBy: trackByIndex ">
                        <app-category 
                            (edit)="editAction(it_child2)" 
                            (delete)="deleteAction(it_child2, it_child)" 
                            (add)="addAction(it_child2)" 
                            [record]="it_child2" 
                            [enableAddAction]="false"></app-category>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>