ul 
    list-style-type: none
.list
    li 
        position: relative
        
app-category
    display: block
    transition: background-color 0.2s ease-in-out
    margin-bottom: 5px
    &:hover 
        background-color: #e6e6e6