<h1 mat-dialog-title>
	Eliminar categoría {{ data.cat_name }} ?
</h1>
<div mat-dialog-content>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="cancel()">Cancelar</button>
	<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Eliminar</button>
</div>