<mat-progress-bar [style.visibility]="sync.wait ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" sync.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
<ul>
    <li  *ngFor="let web_property of web_properties$ | async; index as i">
        <app-web-property [record]="web_property"></app-web-property>    
    </li>
</ul>
<div>
    <button  
        (click)="add($event)"
        class="mt-2"
        [disabled]="sync.wait"
        mat-flat-button 
        color="primary">
        <mat-icon>add</mat-icon> Nuevo
    </button>
</div>