<h1 mat-dialog-title>
Nueva propiedad web
</h1>
<div mat-dialog-content>
    <p *ngFor="let error_message of error_messages">
        <ngb-alert type="danger" (close)="removeErrorMessage(error_message)">{{ error_message }}</ngb-alert>
    </p>
    <div>
      
        <mat-form-field class="full-width">
            <mat-label>Clave de propiedad</mat-label>
            <input matInput type="text" [(ngModel)]="data.prop_key">
            <button 
            *ngIf="data.prop_key" 
            mat-button 
            matSuffix 
            mat-icon-button 
            aria-label="Clear" (click)="data.prop_key=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Valor de propiedad</mat-label>
            <textarea 
            maxlength="400" 
            rows="4"
            matInput 
            placeholder="Ej. Mide 20 x 30..." 
            [(ngModel)]="data.prop_value"></textarea>
            <mat-hint align="end">{{data.prop_value.length}} / 400</mat-hint>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <mat-progress-bar 
        [style.visibility]="sync.wait ? 'visible':'hidden'" 
        class="mt-1 mb-1" 
        [mode]=" sync.wait ? 'indeterminate' : 'determinate'" 
        value="0"></mat-progress-bar>

    <button mat-button (click)="cancel()">Cancelar</button>
    <!--
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    -->
    <button mat-button (click)="process()" cdkFocusInitial>Ok</button>
</div>