<mat-card>
	<mat-card-header>
		<mat-card-title>
			Etiquetas 
			<button
				color="primary" 
				type="button" (click)="addForm()"
				mat-icon-button>
				<mat-icon>add</mat-icon>
			</button>
			<button *ngIf=" !sync.wait else sync_spinner "
				(click)="reloadAll()" 
				color="primary" 
				type="button" 
				mat-icon-button>
				<mat-icon>sync</mat-icon>
			</button>
			<ng-template #sync_spinner>
				<button
					type="button" 
					mat-icon-button>
					<mat-spinner class="sync_spinner" [diameter]="25"></mat-spinner>
				</button>
			</ng-template>
		</mat-card-title>
	</mat-card-header>
	<mat-progress-bar [style.visibility]="sync.wait ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" sync.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
	<mat-card-content>
		
		<table 
			class="
			table 
			table-hover 
			table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" class="col-key">Etiqueta</th>
					<th scope="col" class="col-value">Descripción</th>
					<th scope="col">Creado</th>
					<th scope="col">Modificado</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product_tag of product_tags; index as i">
					<td scope="row">{{ i + 1 }}</td>
					<td>
						{{product_tag.tag_key}}
					</td>
					<td>{{ product_tag.tag_value }}</td>
					<td>{{ product_tag.created_at | dateTimeFormat}}</td>
					<td>{{ product_tag.updated_at | dateTimeFormat }}</td>
					<td>
						<button
							color="primary" 
							type="button" 
							(click)="editForm(product_tag)" 
							mat-icon-button>
							<mat-icon>edit</mat-icon>
						</button>
						<button
							color="warn" 
							type="button" 
							(click)="deleteForm(product_tag)" 
							mat-icon-button>
							<mat-icon>delete</mat-icon>
						</button>
					</td>
				</tr>
			</tbody>
	  	</table>		
 	</mat-card-content>
</mat-card>