<mat-progress-bar [style.visibility]="wait_login ? 'visible':'hidden'" [mode]=" wait_login ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
<div class="login-container">
	<mat-card>
		<mat-card-content class="mat-card-content-no-scroll">
			
			<form [formGroup]="form">
				<fieldset>
					<legend>Administrador de tienda</legend>
					<mat-form-field appearance="fill">
						<mat-label>Usuario</mat-label>
						<input 
							matInput 
							type="text" 
							name="username" 
							formControlName="username" />
						<mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
					</mat-form-field><br />
					<mat-form-field appearance="fill">
						<mat-label>Contraseña</mat-label>
						<input 
							matInput 
							type="password" 
							name="password" 
							formControlName="password">
							<mat-error *ngIf="username.invalid">{{getPasswordErrorMessage()}}</mat-error>
					</mat-form-field>
					<div class="form-buttons">
						<button 
							mat-raised-button 
							color="primary"
							(click)="login()">Login</button>
					</div>
					<div>						
						<label *ngIf="wait_login else show_message">Espere por favor ...</label>
						<ng-template #show_message>
							<label>{{ message }}</label>
						</ng-template>
					</div>
				</fieldset>
	
			</form>
		</mat-card-content>
	</mat-card>
</div>
