
<mat-card>
	<mat-card-header>
		<mat-card-title>
			Información principal del usuario
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p *ngFor="let error_message of error_messages">
			<ngb-alert type="danger" (close)="removeErrorMessage(error_message)">{{ error_message }}</ngb-alert>
		</p>
		<form [formGroup]="mainForm">
			<mat-form-field class="full-width">
			  	<mat-label>Nombre completo del usuario</mat-label>
			  	<input 
					matInput 
					placeholder="Nombre completo del usuario" 
					formControlName="full_name" />
			</mat-form-field>
			<mat-form-field class="full-width">
			  	<mat-label>Usuario</mat-label>
			  	<input 
					matInput 
					placeholder="Usuario" 
					formControlName="username" />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input 
                    matInput [type]="hide_password ? 'password' : 'text'" 
                    formControlName="password" 
                    />
                <button mat-icon-button matSuffix (click)="hide_password = !hide_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password">
                <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
			<mat-divider></mat-divider>
			<mat-progress-bar [style.visibility]="sync.wait ? 'visible':'hidden'" class="mt-1 mb-1" [mode]=" sync.wait ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
			<div class="form-buttons">
				<button [disabled]=" !mainForm.enabled "
					mat-raised-button 
					color="primary"
					(click)="save()">Guardar</button>
					<span *ngIf="sync.wait else show_message">Espere por favor ...</span>
			</div>
			<div>
				<ng-template #show_message>
					<label>&nbsp;{{ sync.message }}</label>
				</ng-template>
			</div>
		</form>
 	</mat-card-content>
</mat-card>