<div class="flex-center position-ref full-height">
    <div 
        class="message" 
        style="padding: 10px;">
        Ups! Espacio no encontrado<br />
        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Regresar</a>
    </div>
</div>