.position-ref
    position: relative

.flex-center
    align-items: center
    display: flex
    justify-content: center
.full-height
    height: 100vh
.message
    font-size: 18px
    text-align: center