<div (click)="toggleChildrenSelection()" matRipple >
    <mat-icon class="checbox_selected" *ngIf="category.isAllChildrenSelected() else is_not_all_children_selected">check_box</mat-icon>
    <ng-template #is_not_all_children_selected>
        <mat-icon class="checbox_selected_partial" *ngIf="category.isAtLeastOneChildSelected() else is_not_at_least_one_child_selected">indeterminate_check_box</mat-icon>
    </ng-template>
    <ng-template #is_not_at_least_one_child_selected>
        <mat-icon class="checbox_unselected" >check_box_outline_blank</mat-icon>
    </ng-template>
    <label>{{ category.cat_name }}</label>
</div>
