div 
    position: relative
    background: #f5f5f5
    display: flex
    border: 1px solid #b5b5b5
    padding: 7px 4px
    margin: 5px 1px
    align-items: center
    box-shadow: 2px 1px 4px 0px #cecece

    label   
        width: 100%
        margin-bottom: 0px
        margin-left: 2px

    .mat-icon

.checbox_selected
    color: #007bff
.checbox_unselected
    color: #8e8d8d
.checbox_selected_partial
    color: #ad9c22