/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css'
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap')
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

.noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none 


html, body
    height: 100%
body 
    margin: 0
    font-family: Roboto, "Helvetica Neue", sans-serif
    text-rendering: optimizeLegibility !important
    -webkit-font-smoothing: antialiased !important
    -moz-osx-font-smoothing: grayscale !important
.bg-dark
    background-color: #262B33
    color: #fff
.bg-white
    background-color: #fff
button
    outline: none !important
    &:focus
        outline: none !important

.list-unstyled
    padding-left: 0
    list-style: none

.pull-right 
    float: right !important

.img30_30
    width: 30px
    height: 30px

.img-circle
    border-radius: 50%

.mat-menu-content
    button  
        outline: 0


.nav-vertical
    box-shadow: 2px 0 2px 0 rgba(0,0,0,0.12)

.sync_spinner
    display: inline-block !important

.form-buttons
    margin-top: 10px
    margin-bottom: 10px

.mat-card
    box-shadow: 2px 2px 2px 2px #d6d6d6 !important
    border: 1px solid #888
    margin-top: 20px !important
    margin-bottom: 20px !important


.mat-rm-img
    background-color: #ea515f
    color: white

.mat-default-catalog-web-img
    background-color: #5fa6d8
    color: white

.mat-is-default-catalog-web-img
    background-color: #13a03e
    color: white

.mat-card-content
    &:not(.mat-card-content-no-scroll)
        @media( max-width: 700px)
            position: relative
            overflow-x: scroll

            