<!--
<h1 mat-dialog-title>{{data.cat_name}}</h1>
-->
<h1 mat-dialog-title>
  {{ data.id ? 'Editar Categoría' : 'Nueva Categoría' }}
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Categoría</mat-label>
    <input matInput [(ngModel)]="data.cat_name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>